.DS_Store
raycast/
systemd/
.zcompdump
.zsh_history
.zsh_history.new
.zsh_history.new
.zsh_sessions
nvim/nvim-pack-lock.json
gh/

.gsd-keyboard.settings-ported
dconf/
evolution/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
ibus/
lazygit/
mimeapps.list
pulse/
tiling-assistant/
user-dirs.dirs
user-dirs.locale
